<div class="banner1">
    <img [src]="root.bannerImage" class="banner-image">
    <div class="main-title">
        <img [src]="root.logoSnS" class="title1">
        <div class="x-icon">   
            <div class="x"></div>
        </div>
        <img [src]="root.logoANTO" class="title2">
    </div>
</div>
<div class="banner2">
    <div class="text-container">
        <h1>{{root.title}}</h1>
        <p>{{root.content}}</p>
    </div>
    <div>
        <img [src]="root.firstSectionImage2" class="first-section-image2">
    </div>
</div>
<div class="banner3">
    <img [src]="root.firstSectionImage1" class="first-section-image1">
</div>
<div class="banner4">
    <div class="slider">
        <div slickContainer #slickController="slick" [slickConfig]="config">
            <ng-container *ngIf="slickController.initialize">
                <div slickItem *ngFor="let slide of root.slider.slides">
                    <img src="{{slide.image}}">
                    <div class="img-bottom">
                        <h3>{{slide.title}}</h3>
                        <span class="border"></span>
                        <p>{{slide.id}}</p>

                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="slide-text">
        <h1>{{root.slider.description}}</h1>
        <div>
            <img [src]="root.slider.leftArrow" (click)="slickController.prev()" class="prev">
            <img [src]="root.slider.rightArrow" (click)="slickController.next()" class="next">
        </div>
    </div>
</div>
<div class="footer">
    <div class="inner-footer">
        <p>{{root.thirdSectionLeftContent}}</p>
        <p>{{root.thirdSectionRightContent}}</p>
    </div>
    <p>{{root.footer}}</p>
</div>